<div class="banner mb-3">
  <img src="assets/img/frame.jpg" alt="Banner" class="img-fluid w-100 banner-img">
</div>

<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead class="text-white bg-black">
        <tr>
          <th class="h4">#</th>
          <th class="h4">Marca</th>
          <th class="h4">línea</th>
          <th class="h4">Modelo</th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let car of cars">
          <td>{{car.id}}</td>
          <td>{{car.marca}}</td>
          <td>{{car.linea}}</td>
          <td>{{car.modelo}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid mt-2">
  <div class="col-6 stats">
    <ul class="list-unstyled mb-0">
      <li *ngFor="let b of brandCountsArray">{{"Total "+ b.marca }}: {{ b.count }}</li>
    </ul>
  </div>
</div>